# This .gitignore file should be placed at the root of your Unity project directory
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# Unity specific
GuardianOfTheCathedral/Library/
GuardianOfTheCathedral/Temp/
GuardianOfTheCathedral/Obj/
GuardianOfTheCathedral/Build/
GuardianOfTheCathedral/Builds/
GuardianOfTheCathedral/Logs/
GuardianOfTheCathedral/UserSettings/
GuardianOfTheCathedral/MemoryCaptures/
GuardianOfTheCathedral/Recordings/
GuardianOfTheCathedral/Assets/Plugins/Editor/JetBrains*
GuardianOfTheCathedral/Assets/AddressableAssetsData/*/*.bin*
GuardianOfTheCathedral/Assets/StreamingAssets/aa.meta
GuardianOfTheCathedral/Assets/StreamingAssets/aa/*
GuardianOfTheCathedral/sysinfo.txt
GuardianOfTheCathedral/Data/

# Misc
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# Backup files
*.bak
*.swp
*.back~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio for Mac
.vscode/
.vscode-cpptools/
.vscode/
*.bak
*.swp
*.back~
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
